<div *ngFor="let step of localSteps">
  <li class="nav-item" routerLinkActive="step-link-active">
    <a href="" routerLink="/step/{{step.Id}}" class="nav-link link-text" title="{{step.DescriptionKey}}" [class.disabled]="step.isDisabled"
      [hidden]="!step.isVisible" (click)="navigate(step.Id)">
      <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10">
          <span style="padding-right:20px;word-break:break-all;">{{step.CaptionKey}}</span>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2">
          <app-step-validation [step]="step"></app-step-validation>
        </div>
      </div>

    </a>
  </li>
</div>
