<div class="form-group" [formGroup]="form">
  <div class="input-group">
    <input class="form-control" placeholder="dd/mm/yyyy"
    name="data.DictionaryAttributeParent.Name" bsDatepicker #d="bsDatepicker" [formControlName]="data.DictionaryAttributeParent.Name" [bsConfig]="config">
    <div class="input-group-btn">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <span class="oi oi-calendar"></span>
        <span class="oi oi-chevron-bottom"></span>
      </button>
    </div>
  </div>
</div>
