<div class="form-group" *ngIf="data.expressionVisibility" [formGroup]="form">
  <label for="{{data.name}}" class="">
    {{data.caption}}
  </label>
  <div class="input-group">
    <input type="text" [formControlName]="data.name" class="form-control" readonly="true">
    <div class="input-group-append">
      <div ngbDropdown [placement]="'bottom-right'" [autoClose]="false">
        <button class="btn btn-outline-secondary" id="{{data.name}}" type="button" ngbDropdownToggle [disabled]="data.expressionReadOnly">
          <span class="oi oi-calendar"></span>
        </button>
        <div ngbDropdownMenu attr.aria-labelledby="{{data.name}}">
          <div style="min-width: 300px;">
            <dl-date-time-picker (change)="onInputChange($event)" ></dl-date-time-picker>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<pre>
  {{ data.value | json}}
</pre>

