<div class="form-group"  [formGroup]="form">
  <label for="{{data.DictionaryAttributeParent.Name}}" class="">
    {{data.DictionaryAttributeParent.CaptionKey}}
  </label>
  <div class="input-group">
    <input type="text" [formControlName]="data.DictionaryAttributeParent.Name" class="form-control" readonly="true">
    <div class="input-group-btn">
      <ngx-datetime-picker (selectedDateTimeChange)="onInputChange($event)"></ngx-datetime-picker>

        <!-- <button class="btn btn-outline-secondary" id="{{data.DictionaryAttributeParent.Name}}" type="button" dropdownToggle [disabled]="data.ExpressionReadOnly"
        attr.aria-controls="dropdown-date">
          <span class="oi oi-calendar"></span>
        </button> -->
        <!-- <div id="dropdown-date" #dropdownMenu attr.aria-labelledby="{{data.DictionaryAttributeParent.Name}}" role="menu">
          <div style="min-width: 300px;">
            library to be implemented

          </div>
        </div> -->

    </div>
  </div>

</div>
<pre>
  {{ data.Value | json}}
</pre>

