<div class="form-group"  [formGroup]="form" [hidden]="!data.isVisible">
  <label for="{{data.DictionaryAttributeParent.Name}}" class="">
    {{data.DictionaryAttributeParent.CaptionKey}}
  </label>

  <ng-select [items]="data.Options | async" bindLabel="name" bindValue="id" formControlName="{{data.DictionaryAttributeParent.Name}}" id="{{data.DictionaryAttributeParent.Name}}"
    (change)="onInputChange($event)" [loading]="loading" [markFirst]="false" labelForId="{{data.DictionaryAttributeParent.Name}}"
    [typeahead]="lookupInput"></ng-select>

  <!-- <small [hidden]="formcontr.valid || input.pristine" class="text-danger">{{data.name}} is bad!</small>
     -->
</div>

<!-- <pre>{{data.Value | json}}

  </pre> -->

