<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow col-sm-3 col-md-2">
  <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">Brand</a>
  <!-- <a href="#" class="navbar-text col-sm-1 col-md-2 mr-0">Step name</a>
  <div class="w-100"></div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
  </li>
  </ul> -->
</nav>
<div class="container-fluid" style="margin-top:-40px;">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar collapse show" id="drawer">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <left-drawer></left-drawer>
            </ul>
          </div>
      </nav>
      <main class="col-md-10 ml-sm-auto col-lg-10 p-0" role="main">
         <work-area></work-area>
      </main>
  </div>
</div>

