<div class="row">
  <div class=" col-sm-2 col-md-2 col-lg-2 col-xs-2 " id="ang-sidebar">
    <div class="row" id="step-nav" style="min-height: 84vh;">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <ul class="nav" style="padding-top:14px;">
         <left-drawer></left-drawer>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10" role="main" style="overflow:hidden;">
    <div class="">
      <!-- <button type="button" class="closed hidden-lg hidden-md" data-toggle="offcanvas">
        <span class="oi oi-menu"></span>
      </button> -->
      <div class="row">
        <work-area></work-area>
      </div>
    </div>
  </div>
</div>

