<div class="form-group"  [formGroup]="form">
    <label for="{{data.DictionaryAttributeParent.Name}}" class="">
      {{data.DictionaryAttributeParent.CaptionKey}}
    </label>

    <ng-select [items]="data.Options | async"
    bindLabel="name" bindValue="id" formControlName="{{data.DictionaryAttributeParent.Name}}"
    labelForId="{{data.DictionaryAttributeParent.Name}}"
    (change)="onInputChange($event)" [loading]="loading" [searchable]="false"></ng-select>

    <!-- <small [hidden]="formcontr.valid || input.pristine" class="text-danger">{{data.name}} is bad!</small>
     --></div>

  <pre>{{data.Value | json}}

  </pre>
