<div class="form-group" *ngIf="data.expressionVisibility" [formGroup]="form">
    <label for="{{data.name}}" class="">
      {{data.caption}}
    </label>

    <ng-select [items]="data.options"
    bindLabel="name" bindValue="id" formControlName="{{data.name}}"
    labelForId="{{data.name}}"
    (change)="onInputChange($event)" ></ng-select>

    <!-- <small [hidden]="formcontr.valid || input.pristine" class="text-danger">{{data.name}} is bad!</small>
     --></div>

  <pre>{{data.value | json}}

  </pre>
