
<div class="form-group"  [formGroup]="form" *ngIf="data.isVisible">
  <label for="{{data.DictionaryAttributeParent}}" class="">
    {{data.DictionaryAttributeParent.CaptionKey}} - {{data.DictionaryAttributeParent.Id}}
  </label>
  <input type="{{data.toHtmlType()}}" class="form-control" id="{{data.DictionaryAttributeParent}}"
   placeholder="{{data.DictionaryAttributeParent.Name}}"
  [step]="data.getStep()"
  [formControlName]="data.DictionaryAttributeParent.Name" (keyup)="onInputChange($event)" >
  <!-- <small [hidden]="formcontr.valid || input.pristine" class="text-danger">{{data.name}} is bad!</small>
   -->
  </div>

<pre>{{data.Value | json}}
</pre>
