<div *ngIf="localStep">
  <div class="row">
  <div class=" col-md-12 col-sm-12 col-xl-12 col-lg-12"
    id="sticky-nav">
    <span class="navbar-text">{{localStep.CaptionKey}}</span>
    <div class="w-100"></div>
    <ul class="navbar-nav px-3 pull-right" style="padding:3px;">
      <li class="nav-item text-nowrap">
          <app-step-validation [step]="localStep" style="color:white;"></app-step-validation>
          <button type="button" (click)="testApplycConditions()" class="btn btn-default">Test validation</button>
        <button type="button" class="btn btn-default m-1" (click)="validate()">Validate</button>
        <button type="button" class="btn btn-success m-1" [disabled]="!isSavable">Save</button>
      </li>
    </ul>
  </div>

  <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12" style="margin-top:30px;">
    <div class="" id="form-wrapper">
      <app-form [step]="localStep"></app-form>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
    <button type="button" class="btn btn-default m-1" [disabled]="localStep.previousStepId === undefined || localStep.previousStepId === null" (click)="navigatePrevious()">Previous step</button>
    <button type="button" class="btn btn-default m-1" [disabled]="localStep.nextStepId === undefined || localStep.nextStepId === null" (click)="navigateNext()">Next step</button>
    <div class="pull-right">
      <div *ngFor="let msg of localStep.validationMessages">
        <app-form-alert [alertMessage]="msg"></app-form-alert>
      </div>
    </div>
  </div>
</div>
</div>

